body,html{
	width:100%;
	height:100%;
}

section{
	position:relative;
	width:100%;
}

h1{
	margin:0;
}

.section1{
	background-image:url('../images/section1-back.jpg');
	padding-bottom:5%;
	padding-top:5%;
	min-height:100%;
}

.section2{
	background-image:url('../images/section2-back.jpg');	
	padding-bottom:5%;
	padding-top:5%;
	height:50%;
}

.section3{
	min-height:80%!important;
	padding-bottom:3%;
	padding-top:3%;
	text-align:center;
}

.section4{
	background-image:url('../images/section4-back.jpg');
	height:50%;
}

.section5{
	background-color:grey;
	color:#fff;
	padding-top:2.5%;
	padding-bottom:5%;
	text-align:center;
}

/*for info show sections*/
.section1,.section2,.section4{
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.cranio-logo{
	text-align:center;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

.index-text{
	color:white;
	font-size:23px;
	text-align:center;
	padding-top:50px;
	text-shadow: 3px 3px 4px #000000;
}

.index-text p {
	display:none;
}

.index{
	position:absolute;
	top:50%;
	margin-top:-179px;
	width:100%;
}

.down-arrow{
	color:white;
	position:absolute;
	bottom:0;
	width:100%;
	font-size:24px; 
	text-align:center;
}

.arrows3{
	color:grey;
}

.arrows1{

}

.icon{
	display:block;
	margin:auto;
	width:80px;
}

.image-footer{
	text-align:center;
	font-size:12px;
	margin-top:10px;
}

.horizontal-grid{
	text-align:center;
	margin-top:20px;
}

.service{
	display:none;
	margin-top:20px;
}

.section-title{
	color:#a51916;
	font-weight:bold;
}

.section-info{
	opacity:0.5;
	font-size:16px;
}

.sn-icon{
	width:60px;
	margin:auto;
	display:block;
}

.social-network{
	margin-top:10px;
	opacity:0.5;
}

.address-h{
	text-align:center;
	margin-bottom:20px;
}

.mail-h{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

.mail-h a{
	color:#ffffff;
	text-decoration:none;
}