body,html{
	width:100%;
	height:100%;
}

section{
	position:relative;
	width:100%;
	min-height:100%;
}

h1{
	margin:0;
}
.section{
	background-color:#F0F0F0;
}

.section1{
	background-image:url('../images/section1.jpg');
	height:50%;
}
.section2{
	background-image:url('../images/jota1.jpg');	
	padding-bottom:5%;
	padding-top:5%;
}

.section3{
	text-align:center;
}
.section4{
	background-image:url('../images/jota2.jpg');	
}

.section5{
	background-color:grey;
	color:#fff;
	min-height:40%;
	padding-bottom:5%
}
/*and for 1-index-footer sections */
.section2,.section3,.section4{
	min-height:80%!important;
	padding-bottom:3%;
	padding-top:3%;
}
/*for info show sections*/
.section2,.section4{
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.cranio-logo{
	text-align:center;
}

.index-text{
	color:white;
	font-size:5vh;
	text-align:center;
	padding-top:50px;
}
.index-text p {
	display:none;
}

.index{
	position:absolute;
	top:50%;
	margin-top:-179px;
	width:100%;
}

.down-arrow{
	color:white;
	position:absolute;
	bottom:0;
	width:100%;
	font-size:24px; 
	text-align:center;
}

.arrows3{
	color:grey;
}

.arrows1{

}
.icon{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:9vh;
}

.image-footer{
	text-align:center;
	font-size: 2.2vh;
	margin-top:10px;
}

.horizontal-grid{
	margin-top:20px;
}

.service{
	display:none;
	margin-top:2.3vh;
}

.section-info{
	font-size:3vh;
}

.sn-icon{
	width:90px;
	margin:auto;
	display:block;
}
.sn1,.sn2,.sn3{
	opacity:0;
}
.social-network{
	margin-top:10px;
}
.mail-h{
	/*margin-top:10px;*/
	margin-bottom:10px;
	display:none;
}