/*MEDIA SIZE*/

@media (max-width: 767px) { /*Para monitores xs*/
/*	#cranio{padding-top: 0;}*/
    .title{font-size: 60px;}
	.slogan{font-size: 20px;}
	.titles{font-size: 25px;}
	.subTitles{font-size: 15px;}
	.HardSoftTitle{font-size: 20px;}
	#technology{ height: auto!important;}
	.iconsTitles{font-size: 17px;
				 text-align: center;}
	.iconsContent{font-size: 15px;
				 text-align: center;}
	.iconImages{height: 30px;}
	.iconRow{margin-top: 0;}
	.HardSoftContent{font-size: 16px;}
	.buttons{font-size: 10px;}
	.textTitle{font-size: 20px;}
	.text{font-size: 16px;}
	.boldText{font-size: 16px;}
	.locationTitle{font-size: 17px;}
	.direction{font-size: 12px;}

	.triangle{height: 12.5%!important;}
	.iconsTriangle{height: 16.75%!important;}
	.invertedTriangle{height: 12.5%!important;}
	.whiteTriangle{height: 12.5%!important;}
	.invertedWhiteTriangle{height: 16.25%!important;}
	.locationTriangle{height: 12.5%!important;}
	.myContainer {padding-bottom: 15%;}
	.haveAnIdeaContainer {margin-top: 5%;
		margin-bottom: 5%;}
	#haveAnIdea{height: 100%!important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
	}
	.divHaveAnIdea{
	background-image: url('../images/have_an_idea_small.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;	
    display: block;
  	max-width: 100%;
    max-height: 100%;
  	height: 80%!important;
  	margin-top: 10%;
  	margin-left: 0px;
    margin-right: 0px;}

	#haveAnIdea{background-image: url('../images/foto_galletitas.jpg');}
	#rowHaveAnIdea{padding-top: 0;}
	.haveAnIdeaContent{top: 45%;}
	.haveAnIdeaContainer {margin-top: 5%;
		margin-bottom: 5%;}
	.frame{margin-top: 9%!important;}
	.cranioRow{margin-top: 10%;}
	.softwareDiv{text-align:center;}
	.hardwareDiv{text-align:center;}
	#whatWeDo{height: auto;}
	.softwareDefinitionDiv{margin-top: 0;}
	#location{height: 20%;}


}
@media (min-width: 768px) and (max-width: 991px) { /*Para monitores sm*/
    .title{font-size: 120px;}
	.slogan{font-size: 30px;}
	.titles{font-size: 35px;}
	.subTitles{font-size: 20px;}
	.HardSoftTitle{font-size: 30px;}
	.HardSoftContent{font-size: 20px;}
	#technology{ height: auto!important;}
	.iconsTitles{font-size: 20px;
				 text-align: center;}
	.iconsContent{font-size: 15px;
				 text-align: center;}
	.iconImages{height: 30px;}
	.iconRow{margin-top: 0;}
	.buttons{font-size: 17px;}
	.textTitle{font-size: 25px;}
	.text{font-size: 20px;}
	.boldText{font-size: 20px;}
	.locationTitle{font-size: 25px;}
	.direction{font-size: 20px;}

	.triangle{height: 12.5%!important;}
	.iconsTriangle{height: 16.75%!important;}
	.invertedTriangle{height: 12.5%!important;}
	.whiteTriangle{height: 12.5%!important;}
	.invertedWhiteTriangle{height: 16.25%!important;}
	.locationTriangle{height: 12.5%!important;}
	.myContainer {padding-bottom: 15%;}
	#haveAnIdea{height: 100%!important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover}
	.divHaveAnIdea{
	background-image: url('../images/have_an_idea_small.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;	
    display: block;
  	max-width: 100%;
    max-height: 100%;
  	height: 80%!important;
  	margin-top: 10%;
  	margin-left: 0px;
    margin-right: 0px;}
    .haveAnIdeaContent{top: 45%;}
	#rowHaveAnIdea{padding-top: 0;}
	#haveAnIdea{background-image: url('../images/foto_galletitas.jpg');}
	.frame{margin-top: 9%!important;}
	.cranioRow{margin-top: 20%;}
	.softwareDiv{text-align:center;}
	.hardwareDiv{text-align:center;}
	#whatWeDo{height: auto;}
	.softwareDefinitionDiv{margin-top: 0;}	
	#location{height: 15%;}

}
@media (min-width: 1600px){ /*Para monitores de resolucion muy grande*/
	#haveAnIdea h2{font-size:70px!important;}
	#haveAnIdea p{font-size:25px!important;}

}

@media (min-width: 992px) and (max-width: 1200px){ /*Para monitores md*/
	.textTitle{font-size: 30px;}
	.text{font-size: 17px;}
	.boldText{font-size: 17px;}
}

/* portrait */
@media screen and (max-width: 767px) and (orientation:portrait) { /*para celulares vertical*/
    
}
/* landscape */
@media screen and (max-width: 767px) and (orientation:landscape) {  /*para celulares horizontal*/

    .cranioRow{margin-top: 5%;}
    #haveAnIdea{height: 160%!important;}
    .haveAnIdeaContent{top: 45%;}
    .divHaveAnIdea{
  	height: 90%!important;
  	margin: 0;}
  	.iconsTriangle{height: 28.75%!important;}
  	.invertedWhiteTriangle{height: 28.75%!important;}
  	#icons{height: 25%!important;}

}